/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 21, 2014, 1:13:40 AM
    Author     : Calvin
*/
.ticket-view {
    border: 1px solid lightgray;
    width: 110px;
    display: inline-block;
    text-align: center;
    margin: 0px 5px 10px;
    box-shadow: 2px 2px 2px #888888;
}

.ticket-view-selected {
    box-shadow: 4px 4px 4px #08b;    
}

.ui-mobile .ticket-view .header
{
    color: #710709;
    //border: black 1px solid;
    background-color: #e9e9e9;
    font-size: larger;
}

.ui-mobile .ticket-view .name
{
    font-size: medium;
}

.ui-mobile .ticket-view .phone
{
    font-size: small;
}

.ui-mobile .ticket-view .status
{
    text-shadow: none;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
}

.medq-ticket-status-in-progress
{
    background-color: #0E6D29;
}

.medq-ticket-status-arrived
{
    background-color: #08b
}

.medq-ticket-status-other
{
    background-color: darkblue;
}

.tickets-view {
    height: inherit;
    overflow-y: auto;
}

.inputGroup {
    border: 1px solid black;
    margin-bottom: 10px;
    background-color: white;
    border-color: lightgoldenrodyellow;
}

#queue-name {
    border: #059 thin solid;
    padding-bottom: 10px;
    font-size: large;
    text-decoration: underline;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    position:relative;
    top:95px;
    left: -13px;
    //display:inline-block;
    float: left;
    width: 100px;
    //height: 300px;
}

#queue-header {
    text-align: center;
    font-weight: bold;
    margin-right: 200px;
    height: 20px;
}

#queue {
    margin-right: 200px;
    //height: inherit;
    position: absolute;
    top: 21px;
    bottom: 79px;
    left: 0px;
    right: 0px;
}

#queue-content {
    float: left;
    width: 100%;
    height: 100%;
}

.queue-view {
    height: 100%;
}

#queue-content-bottom {
    margin-right: 200px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 80px;
}

#queue-alert {
    float: left;
    width: 50%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
}

#queue-summary {
    float: left;
    width: 49%;
    height: 100%;
    overflow-y: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
}

#action-panel
{
    float: left;
    width: 200px;
    margin-left: -200px;
    background-color: #e9e9e9;
    border-left: 1px double black;
    padding: 5px 10px;
    min-height: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.medq-header.ui-header.ui-bar-inherit {
    background-color: #710709;
}

.medq-header-text.ui-title {
    color: white;
    text-shadow: none;
}

.ui-panel-inner {
    background-color: #e9e9e9;
    padding-left: 25px;
    padding-right: 25px;
}

.walkin {
    background-color: #710709;
    color: white;
}

.new-entry-header {
    margin-bottom: 15px;
    background-color: #059;
    height: 50px;
    border-radius: 5px;
    font-size: xx-large;
}

.new-entry-header-text {
    text-align: center;
    color: white;
    font-family: Georgia, Times, serif;
    vertical-align: middle;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-shadow: none;
}

html, body {
    height: 100%;
}

#medq-page {
    height: 100%;
}

#medq-page .ui-content {
    position: absolute;
    top: 45px;
    right: 0;
    bottom: 45px;
    left: 0;
    padding: 0;
    border-collapse: collapse;
}

#medq-page .ui-header {
    //height: 39px;
}

#medq-page .ui-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
//    height: 42px;
}

.queue-alert-template {
}

.queue-summary-template {
    
}

#queue-summary-list {
    list-style-type: none;
}