/*
    Created on : Nov 20, 2014, 1:17:20 AM
    Author     : Calvin
*/
body {
    padding-top: 50px;
}

div.queue-section {

}

div.queue {

}

div.tickets {

}

div.ticket-item {
    border: 1px solid;
    width: 110px; /* or whatever width you want. */
    max-width: 110px;
    display: table;
    float: left;
}

div.ticket-item .ticket-id {
    text-align: center;
    display: table-row;
    font-weight: bold;
    background-color: #95a5a6;
}

div.ticket-item .ticket-status {
    text-align: center;
    display: table-row;
    font-weight: bold;
}

.heatmap-cell:first-child {
    display: table-cell;
    border-left: 0px;
    padding: 4px 4px 4px 4px;
    width: 2%;
    margin-bottom: 0;
    height: 40px;
}

.planner-timeslot-row {
    display: table;
    width: 100%;
    table-layout: fixed;
}
.planner-timeslot-time-cell {
    display: table-cell;
    width: 5em;
}

.planner-timeslot-appointment-cell {
    display: table-cell;
}

.heatmap-cell {
    display: table-cell;
    opacity: 0.4;
    border-left: 1px solid #ddd;
    padding: 4px 4px 4px 4px;
    width: 2%;
    margin-bottom: 0;
    height: 40px;
}

.heatmap-timeslot-group {
    padding: 0px 0px;
    z-index: 2;
}

.heatmap-timeslot-group-background-text {
    width: 50%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    text-align: center;
    z-index: -1;
}

.heatmap-cell-arrived {
    background-color: #26c281;
    cursor: pointer;
}

.heatmap-cell-scheduled {
    background-color: #6bb9f0;
    cursor: pointer;
}

.price-title > p {
    margin-bottom: 0px;
}
.price-body > p {
    margin-bottom: 0px;
}

.x-test {
    position: relative;
}

/**
 * pricing
 * --------------------------------------------------
 */
.pricing ul {
    padding: 0;
    list-style: none;
}
.pricing .unit {
    position: relative;
    display: inline-block;
    min-width: 110px;
    width: 110px;
    text-align: center;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
.pricing .unit.active {
    top: 5px;
    z-index: 1;
    margin-right: -36px;
    margin-left: -36px;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .6);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .6);
    box-shadow: 0 0 8px rgba(0, 0, 0, .6);
}
.pricing .unit.active .price-title h3 {
    font-size: 40px;
}
@media screen and (max-width: 767px) {
    .pricing .unit {
        display: block;
        margin-bottom: 20px;
    }
    .pricing .unit.active {
        top: 0;
        margin-right: 0;
        margin-left: 0;
    }
    .pricing .unit.active .price-title h3 {
        font-size: 30px;
    }
}
.pricing .price-title {
    padding: 0px 5px 0px 5px;
    color: #fff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
}
.pricing .price-title h3, .pricing .price-title h3 > p {
    margin: 0;
}
.pricing .price-body {
    padding: 0px 5px 0px 5px;
}

.pricing .price-body ul {
    padding-top: 10px;
}
.pricing .price-body li {
    margin-bottom: 10px;
}
.pricing .price-body h4 {
    margin: 0;
}

.pricing .price-foot {
    padding: 0px;
    background-color: #e6e9ed;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;

    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
}
.pricing .price-primary .price-title {
    background-color: #4fc1e9;
}
.pricing .price-primary .price-body {
    background-color: #d7f1fa;
}
.pricing .price-primary .price-body ul {
    border-top: 1px solid #aae1f4;
}
.pricing .price-success .price-title {
    background-color: #a0d468;
}
.pricing .price-success .price-body {
    background-color: #ebf6df;
}
.pricing .price-success .price-body ul {
    border-top: 1px solid #d2ebb7;
}
.pricing .price-warning .price-title {
    background-color: #ffce54;
}
.pricing .price-warning .price-body {
    background-color: #fffaed;
}
.pricing .price-warning .price-body ul {
    border-top: 1px solid #ffebba;
}
